# Projeto de Bases de Dados - Parte 3

### Docente Responsável

Prof. FirstName LastName

### Grupo GG
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
<dl>

In [2]:
%load_ext sql
%sql postgresql://db:db@postgres/db

# Empresa de comércio online

## 0. Carregamento da Base de Dados

Carregue o esquema de Base de Dados apresentado no Anexo A.

In [18]:
%%sql

DROP TABLE IF EXISTS customer CASCADE;
DROP TABLE IF EXISTS orders CASCADE;
DROP TABLE IF EXISTS pay CASCADE;
DROP TABLE IF EXISTS employee CASCADE;
DROP TABLE IF EXISTS process CASCADE;
DROP TABLE IF EXISTS department CASCADE;
DROP TABLE IF EXISTS workplace CASCADE;
DROP TABLE IF EXISTS works CASCADE;
DROP TABLE IF EXISTS office CASCADE;
DROP TABLE IF EXISTS warehouse CASCADE;
DROP TABLE IF EXISTS product CASCADE;
DROP TABLE IF EXISTS contains CASCADE;
DROP TABLE IF EXISTS supplier CASCADE;
DROP TABLE IF EXISTS delivery CASCADE;
DROP TABLE IF EXISTS gs CASCADE;

CREATE TABLE customer(
cust_no INTEGER PRIMARY KEY,
name VARCHAR(80) NOT NULL,
email VARCHAR(254) UNIQUE NOT NULL,
phone VARCHAR(15),
address VARCHAR(255)
);

CREATE TABLE orders(
order_no INTEGER PRIMARY KEY,
cust_no INTEGER NOT NULL REFERENCES customer,
date DATE NOT NULL
--order_no must exist in contains
);

CREATE TABLE pay(
order_no INTEGER PRIMARY KEY REFERENCES orders,
cust_no INTEGER NOT NULL REFERENCES customer
);

CREATE TABLE employee(
ssn VARCHAR(20) PRIMARY KEY,
TIN VARCHAR(20) UNIQUE NOT NULL,
bdate DATE,
name VARCHAR NOT NULL
--age must be >=18
);

CREATE TABLE process(
ssn VARCHAR(20) REFERENCES employee,
order_no INTEGER REFERENCES orders,
PRIMARY KEY (ssn, order_no)
);

CREATE TABLE department(
name VARCHAR PRIMARY KEY
);

CREATE TABLE workplace(
address VARCHAR PRIMARY KEY,
lat NUMERIC(8, 6) NOT NULL,
long NUMERIC(9, 6) NOT NULL,
UNIQUE(lat, long)
--address must be in warehouse or office but not both
);

CREATE TABLE office(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE warehouse(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE works(
ssn VARCHAR(20) REFERENCES employee,
name VARCHAR(200) REFERENCES department,
address VARCHAR(255) REFERENCES workplace,
PRIMARY KEY (ssn, name, address)
);

CREATE TABLE product(
SKU VARCHAR(25) PRIMARY KEY,
name VARCHAR(200) NOT NULL,
description VARCHAR,
price NUMERIC(10, 2) NOT NULL,
ean NUMERIC(13) UNIQUE
);

CREATE TABLE contains(
order_no INTEGER REFERENCES orders,
SKU VARCHAR(25) REFERENCES product,
qty INTEGER,
PRIMARY KEY (order_no, SKU)
);

CREATE TABLE supplier(
TIN VARCHAR(20) PRIMARY KEY,
name VARCHAR(200),
address VARCHAR(255),
SKU VARCHAR(25) REFERENCES product,
date DATE
);

CREATE TABLE delivery(
address VARCHAR(255) REFERENCES warehouse,
TIN VARCHAR(20) REFERENCES supplier,
PRIMARY KEY (address, TIN)
);

Running query in 'postgresql://db:***@postgres/db'

Crie as instruções para o seu preenchimento de forma consistente, garantindo que todas as consultas SQL e OLAP, apresentadas mais adiante, produzam um resultado não vazio.

In [5]:
%%sql
-- populate.sql

-- Inserção de dados na tabela "customer"
INSERT INTO customer (cust_no, name, email, phone, address) VALUES
(1, 'Marco Costa', 'marco.costa@example.com', '123456789', 'Rua da Liberdade 1, 1100-001 Lisboa'),
(2, 'Joana Maria', 'joana.maria@example.com', '987654321', 'Avenida dos Aliados 2, 4000-064 Porto'),
(3, 'Gilberto Rodrigues', 'gilberto.rodrigues@example.com', '555555555', 'Praça do Comércio 3, 1100-148 Lisboa'),
(4, 'Sandra Ferreira', 'sandra.ferreira@example.com', '111111111', 'Rua Augusta 4, 1100-053 Lisboa'),
(5, 'Rui Almeida', 'rui.almeida@example.com', '222222222', 'Rua de Santa Catarina 5, 4000-447 Porto'),
(6, 'Mariana Carvalho', 'mariana.carvalho@example.com', '333333333', 'Avenida da Liberdade 6, 1250-096 Lisboa'),
(7, 'Carlos Pereira', 'carlos.pereira@example.com', '444444444', 'Rua de Cedofeita 7, 4050-179 Porto'),
(8, 'Inês Fernandes', 'ines.fernandes@example.com', '555555555', 'Rua do Carmo 8, 1200-093 Lisboa'),
(9, 'Daniel Oliveira', 'daniel.oliveira@example.com', '666666666', 'Rua Mouzinho da Silveira 9, 4050-416 Porto'),
(10, 'Sofia Martins', 'sofia.martins@example.com', '777777777', 'Praça Luís de Camões 10, 1200-243 Lisboa');

-- Inserção de dados na tabela "orders"
INSERT INTO orders (order_no, cust_no, date) VALUES
(1, 1, '2021-01-10'),
(2, 2, '2021-02-15'),
(3, 3, '2021-03-20'),
(4, 4, '2021-04-25'),
(5, 5, '2021-05-30'),
(6, 6, '2021-06-05'),
(7, 7, '2021-07-10'),
(8, 8, '2022-01-20'),
(9, 9, '2022-01-20'),
(10, 10, '2022-02-25'),
(11, 1, '2022-03-25'),
(12, 5, '2022-03-25'),
(13, 4, '2022-04-25'),
(14, 2, '2022-07-25'),
(15, 3, '2022-12-25');


-- Inserção de dados na tabela "pay"
INSERT INTO pay (order_no, cust_no) VALUES
(1, 1),
(2, 2),
(3,3),
(4, 4),
(5, 5),
(6, 6),
(7, 7),
(8, 8),
(9, 9),
(10, 10);

-- Inserção de dados na tabela "employee"
INSERT INTO employee (ssn, TIN, bdate, name) VALUES
('111111111', 'TIN111', '1992-03-18', 'Sarah Wilson'),
('222222222', 'TIN222', '1985-06-25', 'Robert Johnson'),
('333333333', 'TIN333', '2003-09-12', 'Laura Davis'),
('444444444', 'TIN444', '1988-12-05', 'William Anderson'),
('555555555', 'TIN555', '1987-04-15', 'Emma Garcia'),
('666666666', 'TIN666', '1993-07-21', 'David Thompson'),
('777777777', 'TIN777', '1989-10-28', 'Olivia Martin');

-- Inserção de dados na tabela "process"
INSERT INTO process (ssn, order_no) VALUES
('111111111', 4),
('222222222', 5),
('333333333', 6),
('444444444', 7),
('555555555', 8),
('666666666', 9),
('666666666', 10),
('666666666', 11),
('666666666', 12),
('666666666', 13),
('666666666', 14),
('666666666', 15);

-- Inserção de dados na tabela "department"
INSERT INTO department (name) VALUES
('Vendas'),
('Finanças'),
('Marketing'),
('Recursos Humanos'),
('IT'),
('Operações'),
('Apoio ao Cliente');

-- Inserção de dados na tabela "workplace"
INSERT INTO workplace (address, lat, long) VALUES
('Rua Oceano Índico 26, 8500-823 Portimão', 12.345678, -98.765432),
('Rua Mar Atlântico 12, 4000-321 Porto', 23.456789, -87.654321),
('Avenida Rio Mediterrâneo 8, 1100-789 Lisboa', 34.567890, -76.543210),
('Rua Oceano Pacífico 5, 8000-654 Faro', 45.678901, -65.432109),
('Rua Mar do Norte 18, 5000-987 Vila Nova de Gaia', 56.789012, -54.321098),
('Avenida Rio Amazonas 7, 7000-654 Évora', 67.890123, -43.210987),
('Rua Mar do Caribe 14, 6000-321 Castelo Branco', 78.901234, -32.109876);

INSERT INTO office (address) VALUES
('Rua Oceano Índico 26, 8500-823 Portimão'),
('Rua Mar Atlântico 12, 4000-321 Porto'),
('Avenida Rio Mediterrâneo 8, 1100-789 Lisboa');

-- Inserção de dados na tabela "warehouse"
INSERT INTO warehouse (address) VALUES
('Rua Oceano Pacífico 5, 8000-654 Faro'),
('Rua Mar do Norte 18, 5000-987 Vila Nova de Gaia'),
('Avenida Rio Amazonas 7, 7000-654 Évora'),
('Rua Mar do Caribe 14, 6000-321 Castelo Branco');

-- Inserção de dados na tabela "works"
INSERT INTO works (ssn, name, address) VALUES
('111111111', 'Vendas', 'Rua Oceano Índico 26, 8500-823 Portimão'),
('222222222', 'Finanças', 'Rua Mar Atlântico 12, 4000-321 Porto'),
('333333333', 'Marketing', 'Avenida Rio Mediterrâneo 8, 1100-789 Lisboa'),
('444444444', 'Recursos Humanos', 'Rua Oceano Pacífico 5, 8000-654 Faro'),
('555555555', 'IT', 'Rua Mar do Norte 18, 5000-987 Vila Nova de Gaia'),
('666666666', 'Operações', 'Avenida Rio Amazonas 7, 7000-654 Évora'),
('777777777', 'Apoio ao Cliente', 'Rua Mar do Caribe 14, 6000-321 Castelo Branco');

-- Inserção de dados na tabela "product"
INSERT INTO product (SKU, name, description, price, ean) VALUES
('MB-LCD-42-P-001', 'Creme Hidratante', 'Hidrata e nutre a pele, deixando-a macia e suave.', 9.99, 1234567890123),
('FOR-LUM-001-PR-002', 'Protetor Solar FPS 50', 'Protege a pele dos raios solares nocivos.', 12.99, 9876543210987),
('LEV-JN-SN-36-GN-003', 'Esfoliante Facial', 'Remove as células mortas e renova a pele do rosto.', 15.99, 1234567890124),
('MB-LCD-42-P-004', 'Creme Antirrugas', 'Reduz a aparência de rugas e linhas de expressão.', 9.99, 9876543210986),
('FOR-LUM-001-PR-005', 'Máscara Capilar', 'Hidrata e revitaliza os cabelos, deixando-os mais saudáveis.', 12.99, 1111111111111),
('LEV-JN-SN-36-GN-006', 'Tônico Facial', 'Tonifica e refresca a pele do rosto.', 8.99, 2222222222222),
('MB-LCD-42-P-007', 'Óleo Corporal', 'Hidrata e suaviza a pele do corpo, proporcionando uma sensação de relaxamento.', 19.99, 3333333333333),
('FOR-LUM-001-PR-008', 'Loção Hidratante', 'Hidrata e nutre a pele, deixando-a macia e radiante.', 14.99, 4444444444444),
('LEV-JN-SN-36-GN-009', 'Gel de Limpeza Facial', 'Limpa profundamente os poros e remove impurezas da pele do rosto.', 11.99, 5555555555555),
('MB-LCD-42-P-010', 'Creme para as Mãos', 'Hidrata e suaviza as mãos, prevenindo o ressecamento.', 17.99, 6666666666666),
('FOR-LUM-001-PR-011', 'Tônico Capilar', 'Tonifica e fortalece os cabelos, ajudando a combater a queda.', 9.99, 7777777777777),
('LEV-JN-SN-36-GN-012', 'Sérum Facial', 'Proporciona hidratação e firmeza à pele do rosto.', 14.99, 8888888888888),
('MB-LCD-42-P-013', 'Creme Corporal', 'Hidrata e nutre a pele do corpo, deixando-a macia e suave.', 11.99, 9999999999999),
('FOR-LUM-001-PR-014', 'Esfoliante Corporal', 'Remove as células mortas e renova a pele do corpo, deixando-a suave e revitalizada.', 7.99, 1010101010101);

-- Inserção de dados na tabela "contains"
INSERT INTO contains (order_no, SKU, qty) VALUES
(1, 'MB-LCD-42-P-001', 2),
(2, 'FOR-LUM-001-PR-002', 1),
(3, 'LEV-JN-SN-36-GN-003', 3),
(4, 'MB-LCD-42-P-004', 2),
(5, 'FOR-LUM-001-PR-005', 1),
(6, 'LEV-JN-SN-36-GN-006', 4),
(7, 'MB-LCD-42-P-007', 3),
(8, 'FOR-LUM-001-PR-008', 2),
(9, 'LEV-JN-SN-36-GN-009', 1),
(10, 'MB-LCD-42-P-010', 3),
(1, 'FOR-LUM-001-PR-011', 2),
(2, 'LEV-JN-SN-36-GN-012', 1),
(3, 'MB-LCD-42-P-013', 4),
(4, 'FOR-LUM-001-PR-014', 3),
(5, 'MB-LCD-42-P-001', 2),
(6, 'FOR-LUM-001-PR-002', 1),
(7, 'LEV-JN-SN-36-GN-003', 3),
(8, 'MB-LCD-42-P-004', 2),
(9, 'FOR-LUM-001-PR-005', 1),
(10, 'LEV-JN-SN-36-GN-006', 4),
(1, 'MB-LCD-42-P-007', 3),
(2, 'FOR-LUM-001-PR-008', 2),
(3, 'LEV-JN-SN-36-GN-009', 1),
(4, 'MB-LCD-42-P-010', 3),
(5, 'FOR-LUM-001-PR-011', 2),
(6, 'LEV-JN-SN-36-GN-012', 1),
(7, 'MB-LCD-42-P-013', 4),
(8, 'FOR-LUM-001-PR-014', 3),
(9, 'MB-LCD-42-P-001', 2),
(10, 'FOR-LUM-001-PR-002', 1),
(1, 'LEV-JN-SN-36-GN-003', 3),
(2, 'MB-LCD-42-P-004', 2),
(3, 'FOR-LUM-001-PR-005', 1),
(4, 'LEV-JN-SN-36-GN-006', 4),
(5, 'MB-LCD-42-P-007', 3),
(6, 'FOR-LUM-001-PR-008', 2),
(7, 'LEV-JN-SN-36-GN-009', 1),
(8, 'MB-LCD-42-P-010', 3),
(9, 'FOR-LUM-001-PR-011', 2),
(10, 'LEV-JN-SN-36-GN-012', 1),
(1, 'MB-LCD-42-P-013', 4),
(2, 'FOR-LUM-001-PR-014', 3),
(3, 'MB-LCD-42-P-001', 2),
(4, 'FOR-LUM-001-PR-002', 1),
(5, 'LEV-JN-SN-36-GN-003', 3),
(6, 'MB-LCD-42-P-004', 2),
(7, 'FOR-LUM-001-PR-005', 1),
(8, 'LEV-JN-SN-36-GN-006', 4),
(9, 'MB-LCD-42-P-007', 3),
(10, 'FOR-LUM-001-PR-008', 2),
(1, 'LEV-JN-SN-36-GN-009', 1),
(2, 'MB-LCD-42-P-010', 3),
(3, 'FOR-LUM-001-PR-011', 2),
(4, 'LEV-JN-SN-36-GN-012', 1),
(5, 'MB-LCD-42-P-013', 4),
(6, 'FOR-LUM-001-PR-014', 3),
(7, 'MB-LCD-42-P-001', 2),
(8, 'FOR-LUM-001-PR-002', 1),
(9, 'LEV-JN-SN-36-GN-003', 3),
(10, 'MB-LCD-42-P-004', 2);

-- Inserção de dados na tabela "supplier"
INSERT INTO supplier (TIN, name, address, SKU, date) VALUES
('743291548', 'José Silva', 'Rua dos Lírios 15, 8500-823 Portimão', 'MB-LCD-42-P-001', '2022-01-01'),
('615803942', 'Ana Santos', 'Avenida das Flores 20, 4000-321 Porto', 'FOR-LUM-001-PR-002', '2022-02-05'),
('287645390', 'Carlos Oliveira', 'Rua das Palmeiras 10, 1100-789 Lisboa', 'LEV-JN-SN-36-GN-003', '2022-03-10'),
('902184756', 'Margarida Ferreira', 'Avenida dos Girassóis 5, 8000-654 Faro', 'MB-LCD-42-P-004', '2022-04-15'),
('526739814', 'Rui Almeida', 'Rua dos Cravos 18, 5000-987 Vila Nova de Gaia', 'FOR-LUM-001-PR-005', '2022-05-20'),
('419657823', 'Sara Rodrigues', 'Avenida das Azáleas 7, 7000-654 Évora', 'LEV-JN-SN-36-GN-006', '2022-06-25'),
('875392641', 'Marta Costa', 'Rua das Orquídeas 14, 6000-321 Castelo Branco', 'MB-LCD-42-P-007', '2022-07-30');

-- Inserção de dados na tabela "delivery"
INSERT INTO delivery (address, TIN) VALUES
('Rua Oceano Pacífico 5, 8000-654 Faro', '743291548'),
('Rua Mar do Norte 18, 5000-987 Vila Nova de Gaia', '615803942'),
('Avenida Rio Amazonas 7, 7000-654 Évora', '287645390'),
('Rua Mar do Caribe 14, 6000-321 Castelo Branco', '902184756');

Running query in 'postgresql://db:***@postgres/db'

10 rows affected.

10 rows affected.

10 rows affected.

7 rows affected.

7 rows affected.

7 rows affected.

7 rows affected.

3 rows affected.

4 rows affected.

7 rows affected.

14 rows affected.

60 rows affected.

7 rows affected.

4 rows affected.

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Nenhum empregado pode ter menos de 18 anos de idade

In [ ]:
%%sql
-- (RI-1)
ALTER TABLE employee
ADD CONSTRAINT employee_age_check
CHECK (age(bdate) >= INTERVAL '18 years');

(RI-2) Um 'Workplace' é obrigatoriamente um 'Office' ou 'Warehouse' mas não pode ser ambos

In [ ]:
%%sql
-- (RI-2)

-- Function to check if workplace is an Office or Warehouse but not both
CREATE OR REPLACE FUNCTION workplace_type() RETURNS TRIGGER AS
$$
BEGIN

    IF NEW.address NOT IN (SELECT address FROM office) AND NEW.address NOT IN (SELECT address FROM warehouse) THEN
        RAISE EXCEPTION 'A Workplace has to be an Office or a Warehouse.';
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger for workplace
CREATE CONSTRAINT TRIGGER workplace_type_trigger
AFTER INSERT OR UPDATE ON workplace DEFERRABLE INITIALLY DEFERRED
FOR EACH ROW EXECUTE FUNCTION workplace_type();


-- Function to check if warehouse new address is in office
CREATE OR REPLACE FUNCTION in_office() RETURNS TRIGGER AS
$$
BEGIN
    IF NEW.address IN (SELECT address FROM office) THEN
        RAISE EXCEPTION 'Already an Office';
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger for warehouse
CREATE OR REPLACE TRIGGER in_office_trigger
BEFORE INSERT OR UPDATE ON warehouse 
FOR EACH ROW EXECUTE FUNCTION in_office();

-- Function to check if office new address is in warehouse
CREATE OR REPLACE FUNCTION in_warehouse() RETURNS TRIGGER AS
$$
BEGIN
    IF NEW.address IN (SELECT address FROM warehouse) THEN
        RAISE EXCEPTION 'Already a Warehouse';
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger for office
CREATE OR REPLACE TRIGGER in_warehouse_trigger
BEFORE INSERT OR UPDATE ON office 
FOR EACH ROW EXECUTE FUNCTION in_warehouse();

(RI-3) Uma 'Order' tem de figurar obrigatoriamente em 'Contains'.

In [ ]:
%%sql
-- (RI-3)
-- Function to check if workplace is an Office or Warehouse but not both
CREATE OR REPLACE FUNCTION order_in_contains() RETURNS TRIGGER AS
$$
BEGIN

    IF NEW.order_no NOT IN (SELECT order_no FROM contains) THEN
        RAISE EXCEPTION 'An order has to be in contains';
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger for workplace
CREATE CONSTRAINT TRIGGER order_in_contains_trigger
AFTER INSERT OR UPDATE ON orders DEFERRABLE INITIALLY DEFERRED
FOR EACH ROW EXECUTE FUNCTION order_in_contains();

## 2. Consultas SQL

Apresente a consulta SQL mais sucinta para cada uma das seguintes questões

1) Qual o número e nome do(s) cliente(s) com maior valor total de encomendas pagas?

In [ ]:
%%sql
SELECT c.cust_no, c.name 
FROM customer as c
    JOIN pay USING(cust_no)
    JOIN orders USING(order_no)
    JOIN contains USING(order_no)
    JOIN product USING(SKU)
GROUP BY c.cust_no
HAVING sum(qty * price) >= ALL
   ( SELECT sum(qty * price) 
FROM customer as c2
    JOIN pay USING (cust_no)
    JOIN orders USING(order_no)
    JOIN contains USING(order_no)
    JOIN product USING(SKU)
GROUP BY c2.cust_no
);

2. Qual o nome dos empregados que processaram encomendas em todos os dias de 2022 em que houve encomendas?

In [ ]:
%%sql
SELECT DISTINCT e.name 
FROM employee as e
WHERE NOT EXISTS (
    SELECT o.date
    FROM orders as o
    WHERE EXTRACT(YEAR FROM o.date) = '2022'
    EXCEPT
    SELECT o1.date
    FROM orders as o1
    JOIN process p USING(order_no)
    WHERE e.ssn = p.ssn);

3. Quantas encomendas foram realizadas mas não pagas em cada mês de 2022?

In [ ]:
%%sql
SELECT months.month, COALESCE(orders_count."unpaid orders", 0) AS "unpaid orders"
FROM (
    SELECT to_char(date_trunc('month', generate_series), 'Month') AS month
    FROM generate_series(
      date_trunc('year', current_date),
      date_trunc('year', current_date) + interval '1 year - 1 day',
      interval '1 month'
    ) AS generate_series
) AS months
LEFT JOIN (
    SELECT to_char(o.date, 'Month') AS month, count(*) AS "unpaid orders"
    FROM orders AS o
    WHERE EXTRACT(YEAR FROM o.date) = '2022' 
    AND o.order_no NOT IN (SELECT p.order_no FROM pay AS p)
    GROUP BY month
) AS orders_count ON months.month = orders_count.month;

## 3. Vistas

Crie uma vista que resuma as informações mais importantes sobre as vendas de produtos, combinando informações de diferentes tabelas do esquema de base de dados. A vista deve ter o seguinte esquema:

product_sales(sku, order_no, qty, total_price, year, month, day_of_month, day_of_week, city)

In [ ]:
%%sql
-- CREATE VIEW ...
CREATE OR REPLACE VIEW product_sales AS
SELECT pro.sku, o.order_no, cnt.qty, cnt.qty * pro.price AS total_price, EXTRACT (YEAR from o.date) as year, EXTRACT(MONTH FROM o.date) as month, EXTRACT (DAY FROM o.date) as day_of_month, EXTRACT(DOW FROM o.date) as day_of_week, SUBSTRING(c.address, POSITION('-' IN address) + 5) AS city
FROM customer AS c
    JOIN pay AS p USING(cust_no)
    JOIN orders as o USING(order_no)
    JOIN contains as cnt USING(order_no)
    JOIN product as pro USING(sku)
ORDER BY pro.sku, o.date;

SELECT * FROM product_sales;

## 4. Desenvolvimento de Aplicação

### Explicação da arquitetura da aplicação web, incluindo um link para uma versão de trabalho e as relações entre os vários ficheiros na pasta web/arquivos

...

Explicação da arquitetura da app:
- A pasta node_modules tem as dependências do Node.js usado para o framework Tailwind CSS bem como para o flowbite.
- a pasta static tem:
    - pasta dist que guarda o css gerado pelo tailwind
    - pasta images que guarda todas as imagens usadas no projeto
    - input.css que serve para guardar as as diretivas @tailwind usadas para importar diferentes partes do framework Tailwind CSS
- a pasta template guarda vários templates html:
    - pasta customer tem as templates para customer:
        - customers.html: é a página com a tabela de todos os clientes
        - login.html: é a página de login para o customer
    - pasta orders tem as templates para orders:
        - cart.html:a página do carrinho de compras onde estão os produtos adicionados pelo customer
        - order.html:a página onde estão os produtos em disponíveis para encomenda
        - orders.html:a página onde estão as encomendas que o cliente já realizou, pagas e não pagas
    - pasta products tem as templates para products:
        - products.html: a página com a tabela de todos os produtos
    - pasta supplier tem as templates para os suppliers:
        - supplier.html: a página com a tabela de todos os suppliers
    - base.html: modelo de página HTML com os elementos barra de navegação e cabeçalho. Outros templates dão extend a este.
    - homepage.html: Página com vista simples da homepage. Tem botão de login.
- tailwind.config.js: ficheiro de configuração do Tailwind CSS

In [ ]:
%%sql

--- create table for product's photos urls ...

DROP TABLE IF EXISTS product_photos CASCADE;

CREATE TABLE product_photos (
    id SERIAL PRIMARY KEY,
    product_sku VARCHAR(25) NOT NULL,
    photo_url VARCHAR(255) NOT NULL,
    FOREIGN KEY (product_sku) REFERENCES product (SKU)
);


  INSERT INTO product_photos (product_sku, photo_url)
VALUES
    ('MB-LCD-42-P-001', 'static/images/products/product1.jpg'),
    ('FOR-LUM-001-PR-002', 'static/images/products/product2.jpg'),
    ('LEV-JN-SN-36-GN-003', 'static/images/products/product3.jpg'),
    ('MB-LCD-42-P-004', 'static/images/products/product4.jpg'),
    ('FOR-LUM-001-PR-005', 'static/images/products/product5.jpg'),
    ('LEV-JN-SN-36-GN-006', 'static/images/products/product6.jpg'),
    ('MB-LCD-42-P-007', 'static/images/products/product7.jpg'),
    ('FOR-LUM-001-PR-008', 'static/images/products/product8.jpg'),
    ('LEV-JN-SN-36-GN-009', 'static/images/products/product9.jpg'),
    ('MB-LCD-42-P-010', 'static/images/products/product10.jpg'),
    ('FOR-LUM-001-PR-011', 'static/images/products/product11.jpg'),
    ('LEV-JN-SN-36-GN-012', 'static/images/products/product12.jpg'),
    ('MB-LCD-42-P-013', 'static/images/products/product13.jpg'),
    ('FOR-LUM-001-PR-014', 'static/images/products/product14.jpg');

## 5. Consultas OLAP

Usando a vista desenvolvida para a Questão 3, escreva duas consultas SQL que permitam analisar:

1. As quantidade e valores totais de venda de cada produto em 2022, globalmente, por cidade, por mês, dia do mês e dia da semana

In [ ]:
%%sql
DROP TABLE IF EXISTS dim_date CASCADE;

CREATE TABLE dim_date (
    year INTEGER,
    month INTEGER,
    day_of_month INTEGER,
    day_of_week INTEGER
);

INSERT INTO dim_date ( year, month, day_of_month, day_of_week)
SELECT
    EXTRACT(YEAR FROM date) AS year,
    EXTRACT(MONTH FROM date) AS month,
    EXTRACT(DAY FROM date) AS day_of_month,
    EXTRACT(DOW FROM date) AS day_of_week
FROM
    generate_series('2022-01-01'::date, '2022-12-31'::date, '1 day') AS date;

-- SELECT ...
SELECT
    sku,
    COALESCE(SUM(qty),0) AS total_quantity,
    COALESCE(SUM(total_price),0) AS total_value,
    city,
    month,
    day_of_month,
    day_of_week
FROM 
    (
    SELECT
        d.year,
        d.month,
        d.day_of_month,
        d.day_of_week,
        ps.sku,
        ps.qty,
        ps.total_price,
        ps.city
    FROM
        dim_date AS d
    LEFT JOIN
        (
            SELECT
                year,
                month,
                day_of_month,
                day_of_week,
                sku,
                qty,
                total_price,
                city
            FROM
                product_sales
            WHERE
                year = 2022
        ) AS ps ON d.year = ps.year
                  AND d.month = ps.month
                  AND d.day_of_month = ps.day_of_month
                  AND d.day_of_week = ps.day_of_week
    ) AS big_table
GROUP BY
    GROUPING SETS ((sku),(sku,city),(sku,month), (sku,day_of_month) , (sku,day_of_week), (month,day_of_month))
ORDER BY
    sku,
    month,
    day_of_month,
    day_of_week;

2. O valor médio diário das vendas de todos os produtos em 2022, globalmente, por mês e dia da semana

In [ ]:
%%sql
DROP TABLE IF EXISTS dim_date CASCADE;

CREATE TABLE dim_date (
    year INTEGER,
    month INTEGER,
    day_of_month INTEGER,
    day_of_week INTEGER
);

INSERT INTO dim_date ( year, month, day_of_month, day_of_week)
SELECT
    EXTRACT(YEAR FROM date) AS year,
    EXTRACT(MONTH FROM date) AS month,
    EXTRACT(DAY FROM date) AS day_of_month,
    EXTRACT(DOW FROM date) AS day_of_week
FROM
    generate_series('2022-01-01'::date, '2022-12-31'::date, '1 day') AS date;

-- Tentativa 1
SELECT
    d.month,
    d.day_of_week,
    COALESCE(ROUND(AVG(ps.total_price),4), 0) AS average_daily_sales
FROM
    dim_date AS d
LEFT JOIN
    product_sales AS ps ON d.year = ps.year
                         AND d.month = ps.month
                         AND d.day_of_week = ps.day_of_week
WHERE
    d.year = 2022
GROUP BY
    GROUPING SETS ((), (d.month), (d.day_of_week), (d.month, d.day_of_week))
ORDER BY
    d.month, d.day_of_week;

## 6. Índices

Indique, com a devida justificação, que tipo de índice(s), sobre qual(is) atributo(s) e sobre qual(is) tabela(s) faria sentido criar, de forma a agilizar a execução de cada uma das seguintes consultas:

### 6.1
SELECT order_no
FROM orders 
JOIN contains USING (order_no) 
JOIN product USING (SKU) 
WHERE price > 50 AND 
EXTRACT(YEAR FROM date) = 2023

### Tipo de Índice, Atributos & Justificação

1. CREATE INDEX date_idx ON orders USING HASH(EXTRACT(year FROM date));
- índice do tipo HASH na tabela orders sobre uma função do atributo date. Aqui indexamos as orders por ano em que foram feitas o que otimiza as operações de filtragem de linhas por ano, pois assim todas as orders estão agrupadas através do ano correspondente à sua data, sendo cada "grupo" apontado pelo respetivo indíce.

2. CREATE INDEX price_idx ON product(price);
- índice do tipo B-Tree na tabela product sobre o atributo price. Aqui indexamos os produtos pelo preço. Assim otimiza-se as operações de filtragem por range com o atributo price (por exemplo, price > 50).

Não selecionámos mais indíces possíveis pois cobrimos todos os atributos presentes na condição do WHERE e as operações de JOIN são feitas usando as primary keys de cada tabela o que implica que já existam os indíces correspondentes que otimizam essas operações.

### 6.2
SELECT order_no, SUM(qty*price)
FROM contains 
JOIN product USING (SKU) 
WHERE name LIKE ‘A%’ 
GROUP BY order_no;

### Tipo de Índice, Atributos & Justificação

1. CREATE INDEX name_idx ON product(name);
- índice do tipo B-Tree na tabela product sobre o atributo name. Aqui indexamos os produtos pelo nome. Assim otimiza-se nas queries operações de filtragem por range com o atributo name (por exemplo, name LIKE 'A%' que é uma procura por range pois essa condição pode ser convertida em: 'A' <= name < 'B').

Não selecionámos mais indíces possíveis pois cobrimos todos os atributos presentes na condição do WHERE e as operações de JOIN são feitas usando as primary keys de cada tabela o que implica que já existam os indíces correspondentes que otimizam essas operações.